# Ignore everything -----
/*

# But not these files...
!.gitignore
!full.dataset2.csv
!density.population.csv
!aquastat.csv
!aquastat.csv
!table4.csv
!irrigation_uncertainty.pdf
!irrigation_uncertainty.Rmd


.Rproj.user
