# Ignore everything -----
/*

# But not these files...
!.gitignore
!README.md
!full.dataset2.xlsx
!density_population.csv
!aquastat.csv
!table_4.csv
!irrigation_uncertainty.pdf
!irrigation_uncertainty.Rmd

.Rproj.user
